.welcomeContainer {
	display: flex;
	padding: 0 1rem;
	max-width: 600px;
	flex-direction: column;
	margin: 6rem auto 14rem;
}
.logo {
	width: 96px;
	height: 96px;
	margin: 0 auto 0;
}
.title {
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.welcomeContainer {
		display: flex;
		padding: 0 1rem;
		flex-direction: column;
		margin: 6rem auto 14rem;
	}
}