.welcomeContainer {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.list {
	margin-bottom: 2rem;
}
.loginContainer {
	display: flex;
	flex-direction: column;
}
.loginContainer > button {
	margin-bottom: 16px;
}
