.welcomeContainer {
  display: flex;
  padding: 0 1rem;
  max-width: 600px;
  text-align: center;
  flex-direction: column;
  margin: 4rem auto 14rem;
}
.logo {
  width: 96px;
  height: 96px;
  margin: 0 auto 0;
}
.title {
  margin-bottom: 3rem;
  text-align: center;
}
.subtitle {
  font-size: 1.2rem;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.listItem {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listText {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .welcomeContainer {
    padding: 0 1rem;
  }

  .list {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 1rem;
    text-align: center;
  }
}
