.heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}
.mesureSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.mesureInputs {
  display: flex;
  flex-direction: row;
}
.measureAImageContainer {
  width: 600px;
}
.measureAImage {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .measureAImageContainer {
    width: 100%;
  }
  .mesureSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
