.layout {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .layout {
        padding: 2rem;
    }
}
