.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.brand {
    display: flex;
    align-items: center;
}
.logo {
    width: 56px;
    height: 56px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 16px;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {

    .logo {
        width: 40px;
        height: 40px;
        margin: 0 1rem 0 0;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin-left: 0;
    }
    .themeButton {
        margin-left: auto;
    }
}
