.archerNumberContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 4px 8px;
	margin: 1rem;
	border-radius: 8px;
	color: #eeeeee;
	background-color: #236e37;
}
.title {
	padding: 8px 0;
	margin: 0 4px 0 0;
}
.numberContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.number {
	font-weight: 600;
}
