.header {
    flex: 1;
}

.headerContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.name {
    font-size: 1.6rem;
}
.profileData {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 8px;
}
.profileSpecs {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
