.header {
    display: flex;
    flex-direction: column;
}

.headerContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.profileData {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 8px;
}
.profileSpecs {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
