.numberForm {
    padding: 1.5rem;
    border-radius: 4px;
    margin: 16px auto;
    box-shadow: 2px 2px 2px 2px #cdd0d5;
}
.button {
    width: 100%;
    margin-top: 16px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}
.header button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
.header svg {
    height: 24px;
    width: 24px;
}
.lineStroke {
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.header svg:hover {
    stroke: #0d6efd;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .numberForm {
        margin: 16px 0;
    }
}
