.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.table {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .table {
        width: 100%;
    }

    .plot {
        width: 100%;
    }
}

.td {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
