.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 64px;
  height: 64px;
  margin: 0 1rem;
}
.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
  }
}
