.container {
  max-width: 600px;
}
.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.label {
    height: 90px;
    width: 200px;
    margin-right: 16px;
}

.calcButton {
    margin-bottom: 16px;
}

.markButton {
    width: initial;
}

@media only screen and (max-width: 600px) {
    .form {
        margin-bottom: 8px;
    }

    .markButton {
        width: 120px;
    }

    .label {
        width: 50%;
        margin-right: 0;
        padding: 0 8px 0 0;
    }
}
