.form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
    .label {
        width: 25%;
    }

}
