.nav {
	margin: 0;
	padding: 0;
}
.list {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.li a {
	color: #111;
	padding: 1rem 2rem;
	text-decoration: none;
}
.profileNav {
	display: flex;
	flex-direction: column;
}
.li a:hover {
	color: #333;
	background-color: #ccc;
}
@media only screen and (max-width: 600px) {
	.layout {
		padding: 1rem;
	}
	.li a {
		padding: 0.5rem 1rem;
	}
}
