.nav {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
}

.li a {
    color: #111;
    padding: 1rem 2rem;
    text-decoration: none;
}

.li button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.li button:hover {
    color: #0d6efd;
    background-color: #eee;
    text-decoration: underline;
}

.profileNav {
    display: flex;
    flex-direction: column;
}

.profileNav img:hover {
    border: 2px solid #0d6efd;
}

.li a:hover {
    color: #0d6efd;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .layout {
        padding: 1rem;
    }

    .li a {
        padding: 0.5rem 1rem;
    }
}
